# .travis.yml

language: python
python:
  - 3.5
  - 3.6
  - 3.7

before_install:
 - python --version
 - pip install -U pip
 - pip install -U pytest
 - pip install -U coverage
# - pip install codecov

#install:
# - pip install ".[test]" . # install package + test dependendcies
script: coverage run -m pytest # run tests
after_success:
 - coverage report -m # submit coverage